{% load static %}

<footer id="main-footer" class="text-white bg-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center text-md-start py-2">
        <a href="{% url 'index' %}">
          <img
            src="{% static 'images/noelis_logo.svg' %}"
            style="height: 60px"
          />
        </a>
        <div class="mt-3 d-none d-md-block">
          <small>Copyright &copy; NOELIS 2022. All Rights Reserved.</small>
        </div>
      </div>

      <div class="col-md-3 text-center text-md-start py-2">
        <h5>Our Services</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" class="text-white text-decoration-none"> Our mission</a>
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              Privacy Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              Cookie Policy</a
            >
          </li>
          <li>
            <a href="#" class="text-white text-decoration-none">
              Terms & Conditions</a
            >
          </li>
        </ul>
      </div>

      <div class="col-md-3 text-center text-md-start py-2">
        <h5>Find Us On</h5>
        <div style="white-space: nowrap">
          <a href="#" class="text-white text-decoration-none me-2">
            <i class="bi-facebook fs-5"></i>
          </a>
          <a href="#" class="text-white text-decoration-none me-2">
            <i class="bi-twitter fs-5"></i>
          </a>
          <a href="#" class="text-white text-decoration-none me-2">
            <i class="bi-instagram fs-5"></i>
          </a>
        </div>
      </div>

      <div class="col-md-3 text-center text-md-start py-2">
        <h5>Contact Us</h5>
        <div style="white-space: nowrap">
          <a href="#" class="text-white text-decoration-none"
            ><i class="bi-envelope fs-5 me-2 me-lg-3"></i>admin@noelis.com</a
          >
        </div>
        <div style="white-space: nowrap">
          <i class="bi-phone fs-5 me-2 me-lg-3"></i>(+62) 1234567890
        </div>
        <div style="white-space: nowrap">
          <a href="#" class="text-white text-decoration-none"
            ><i class="bi-globe fs-5 me-2 me-lg-3"></i>www.noelis.com
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 d-md-none text-center">
    <small>Copyright &copy; NOELIS 2022. All Rights Reserved.</small>
  </div>
</footer>
