{% load static %}

<nav
  id="main-navbar"
  class="navbar navbar-expand-md navbar-light bg-light py-0"
>
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <span class="d-none">NOELIS</span>
      <img
        src="{% static 'images/noelis_logo.svg' %}"
        class="main-logo d-none d-md-inline"
        alt="noelis logo"
      />
      <img
        src="{% static 'images/noelis_logo.svg' %}"
        class="small-logo d-inline d-md-none"
        alt="noelis logo"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% url 'index' as index %}
        <li class="nav-item">
          <a
            class="nav-link p-4 {% if request.path == index %} active {% endif %}"
            href="{% url 'index' %}"
            >Home</a
          >
        </li>
        {% url 'articles' as articles %}
        <li class="nav-item">
          <a
            class="nav-link p-4 {% if request.path == articles %} active {% endif %}"
            href="{% url 'articles' %}"
            >Articles</a
          >
        </li>
        {% url 'authors' as authors %}
        <li class="nav-item">
          <a
            class="nav-link p-4 {% if request.path == authors %} active {% endif %}"
            href="#"
            >Authors</a
          >
        </li>
        {% url 'login' as login %}
        <li class="nav-item">
          <a
            class="nav-link p-4 {% if request.path == login %} active {% endif %}"
            href="#"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
