{% load static %}

<nav id="main-navbar" class="navbar navbar-expand-md navbar-light bg-light py-0">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">
      <span class="d-none">NOELIS</span>
      {% url 'index' as index %}
      {% url 'articles' as articles %}
      {% url 'users' as authors %}
      {% url 'login' as login %}
      {% if request.path == index or request.path == articles or request.path == authors or request.path == login%}
        <img src="{% static 'images/noelis_logo.svg' %}" class="main-logo d-none d-md-inline" alt="noelis logo" />
        <img src="{% static 'images/noelis_logo.svg' %}" class="small-logo d-inline d-md-none" alt="noelis logo" /> 
      {% else %}
        <img src="{% static 'images/noelis_logo.svg' %}" class="small-logo d-inline" alt="noelis logo" />
      {% endif %}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% url 'index' as index %}
        <li class="nav-item">
          <a class="nav-link p-4 {% if request.path == index %} active {% endif %}" href="{% url 'index' %}">Home</a>
        </li>
        {% url 'articles' as articles %}
        <li class="nav-item">
          <a class="nav-link p-4 {% if request.path == articles %} active {% endif %}" href="{% url 'articles' %}">Articles</a>
        </li>
        {% url 'users' as authors %}
        <li class="nav-item">
          <a class="nav-link p-4 {% if request.path == authors %} active {% endif %}" href="{% url 'users' %}">Authors</a>
        </li>
        {% url 'account' as account %}
        {% url 'login' as login %}
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link p-4 {% if request.path == account %} active {% endif %}" href="{% url 'account' %}">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link p-4" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link p-4 {% if request.path == login %} active {% endif %}" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
