{% extends 'main.html' %}

{% block content %}
    <!-- START HEADER IMAGE -->
    <header id="login-header" class="header-image text-white">
        <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1">Password Reset Complete</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- END HEADER IMAGE -->

    <section id="member-list" class="py-5">
        <div class="container my-5">
            <div class="row bg-light p-5 rounded-3">
                <div class="col">
                    <div class="mb-3 text-center">
                        <p>Your password has been set. You may go ahead and log in now.</p>
                        <a href="{% url 'login' %}" class="btn btn-dark">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    
