{% extends 'main.html' %}

{% block content %}
    <!-- START HEADER IMAGE -->
    <header id="login-header" class="header-image text-white">
        <div class="header-overlay">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="display-1">Password Reset Sent</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- END HEADER IMAGE -->

    <section id="member-list" class="py-5">
        <div class="container my-5">
            <div class="row bg-light p-5 rounded-3">
                <div class="col">
                    <div class="mb-3">
                        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. </p>
                        <br>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
    
